In [4]:
import pandas as pd;
print('Radheshyam kumar singh')

Radheshyam kumar singh

In [11]:
def fun():
    a=1
    print('Hi')
    print(hex(a))
    print(hex(id(a)))
fun()

Hi
0x1
0x7ff85e6ce328

In [12]:
df = pd.read_csv('GDP.csv')

,Unnamed: 0,Gross domestic product 2022,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,(millions of,NaN
2,NaN,Ranking,NaN,Economy,US dollars),NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,USA,1,NaN,United States,"2,54,62,700",NaN
...,...,...,...,...,...,...
233,SSF,NaN,NaN,Sub-Saharan Africa,"20,47,347",NaN
234,LIC,NaN,NaN,Low income,"5,21,634",NaN
235,LMC,NaN,NaN,Lower middle income,"81,09,650",NaN
236,UMC,NaN,NaN,Upper middle income,"3,04,95,972",NaN
237,HIC,NaN,NaN,High income,"6,15,35,769",NaN

In [3]:
import matplotlib.pyplot as plt
import pandas as pd;
dec = {'A':[i for i in range(1,10)],'B':[i for i in range(1,10)]}
df = pd.DataFrame(dec)#set_index('A')
# print(df)
df['C']=[i for i in range(1,10)]
# print(df)
# adding two column in 
df['D'] = df['B']+df['C']
# print(df)
df['E']=df['A']+df['B']+df['C']+df['D']
# print(df)
lst=list(filter(lambda x:x>=10 ,df['E']))
# print(len(df['E']))
for i in range(len(lst),len(df['E'])):
    lst.append(-1)
df['F']=lst
# print(df)
# plt.plot(df)
# del df['A']
# print(df)
# df.reset_index(drop=True)
df.reset_index(drop=True)
print(df)

KeyError: 'A'